@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/QuanTri/Views/Shared/_LayoutAdmin.cshtml";
}

@using CDTH17.Models.Entities;
@model SanPham

<div class="content">
    	<div class="section group">
				<div class="col span_2_of_3">
				  <div class="contact-form">
				  	<h2>Contact Us</h2>
					    <form method="post"enctype="multipart/form-data">
					    	<div>
						    	<span><label>Mã sản phẩm</label></span>
						    	<span><input type="text" class="textbox" name="MaSP" value="@Model.MaSP" readonly="true" ></span>
						    </div>
						    <div>
						    	<span><label>Tên sản phẩm </label></span>
						    	<span><input type="text" class="textbox" name="TenSP" value="@Model.TenSP"></span>
						    </div>
                            <div>
						     	<span><label>Giá sản phẩm</label></span>
						    	<span><input type="text" class="textbox" name="GiaSP" value="@Model.GiaSP"></span>
						    </div>
						    <div>
						     	<span><label>Ảnh</label></span>
                                <img src="~/Content/Images/@Model.UrlAnh" />
						    	<span>
                                    <input type="file" class="textbox" name="UrlAnh"></span>
						    </div>

						    <div>
						    	<span><label>Mô tả</label></span>
						    	<span><textarea name="Mota"> </textarea></span>
						    </div>
                            <div>
						    	<span><label>Danh muc</label></span>
						    	<span>
                                    <select name="MaDM"> 
                                        <option> Chon danh mục</option>
                                        @foreach(DanhMuc dt in ViewBag.DanhMuc as IEnumerable<DanhMuc>){
                                            if(dt.MaDM==Model.MaDM){
                                             <option value="@dt.MaDM" selected> @dt.TenDM</option>
                                            }
                                            else
                                            {
                                                 <option value="@dt.MaDM"> @dt.TenDM</option>
                                            }
                                        }
                                    </select>
						    	</span>
						    </div>
						   <div>
						   		<span><input type="submit" value="Submit"  class="myButton"></span>
						  </div>
					    </form>
				  </div>
  				</div>
				<div class="col span_1_of_3">
					<div class="contact_info">
    	 				<h3>Find Us Here</h3>
					    	  <div class="map">
							   	    <iframe width="100%" height="175" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265&amp;output=embed"></iframe><br><small><a href="https://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265" style="color:#666;text-align:left;font-size:12px">View Larger Map</a></small>
							  </div>
      				</div>
      			<div class="company_address">
				     	<h3>Company Information :</h3>
						    	<p>500 Lorem Ipsum Dolor Sit,</p>
						   		<p>22-56-2-9 Sit Amet, Lorem,</p>
						   		<p>USA</p>
				   		<p>Phone:(00) 222 666 444</p>
				   		<p>Fax: (000) 000 00 00 0</p>
				 	 	<p>Email: <span><a href="mailto:example.com">infomycompany.com</a></span></p>
				   		<p>Follow on: <span>Facebook</span>, <span>Twitter</span></p>
				   </div>
				 </div>
			  </div>		
         </div>
