@{
    ViewBag.Title = "Index";
}
@using CDTH17.Models.Entities;
@model List<CartItem>
@{
    ViewBag.Title = "Index";
}


<div class="content">
  <div class="section group">
   @if (Model.Count > 0)
        {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td>Mã SP</td>
                        <td>Tên SP</td>
                        <td>Ảnh SP</td>
                        <td>Số lượng</td>
                       
                        <td>Đơn giá</td>
                        <td>Thành tiền</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Sanpham.MaSP</td>
                            <td>@item.Sanpham.TenSP</td>
                            <td><img src="/Content/Images/@item.Sanpham.UrlAnh" width="150"  /></td>

                             @using (Html.BeginForm("UpdateCart", "Cart", 
                                 new { @id =item.Sanpham.MaSP}, 
                                 FormMethod.Post, new {role="form"}))
                             {
                                
                            <td>                               
                                <input type="text" name="txtQuantity" value="@item.Quantity" class="form-control" /> </td>                      
                            <td>@item.Sanpham.GiaSP.GetValueOrDefault(0).ToString("N0")</td>
                            <td>@((item.Sanpham.GiaSP.GetValueOrDefault(0) * item.Quantity).ToString("N0"))</td>   
                            <td>
                                <input type="submit" value="Cập nhật"  class="btn btn-link"/> 
                            </td>                       
                          
                             }

                            <td><a href="/Cart/RemoveLine/@item.Sanpham.MaSP" data-id="@item.Sanpham.MaSP" class="btn btn-link">Xóa</a></td>
                        </tr>
                    }
                    <tr>
                        <td colspan="4"></td>
                        <td>Tổng giá trị</td> <td> 
                                  @ViewBag.TongTien.ToString("N0") </td>
                        <td colspan="2"></td>
                    </tr>
                </tbody>
            </table>
          
           <a href="/SanPham/Index" class="btn">Tiếp tục mua hàng</a>   
           <a href="/Cart/Clear" class="btn">Xoá giỏ hàng</a>         
           <a href="/Cart/Payment" class="btn">Thanh toán</a>                 
            
        }
        else
        {
            <span class="alert alert-danger">Chưa có sản phẩm nào trong giỏ hàng</span>
        }

    </div>
</div>
